h1{
    color: white;
    text-align: center;
    text-decoration: underline;
    background-color: #db7d7d;
}

.fill{
    text-align: center;
    color: black;
    text-decoration: underline;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.form{
    color: black;
    text-align: center;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.butt{
    background-color: #db7d7d; 
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #db7d7d;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  footer {
    width: 100%;
    position: absolute;
    float: bottom;
    text-align: center;
    color: black;
}

body{
  background-color: antiquewhite;
}
